@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif; */
}
